.form{
    height: fit-content;
    margin-top: 80px;
    border: none;
    max-width: 50vw;
    justify-content: center;
    align-items: center;
    margin-left: 25vw;
}
/* form{
    margin-top:5rem;
} */
form input[name="city"],
form input[name="country"]{
    background-color: transparent;
    color: white;
    border: 0;
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
}
form button{
    margin-top: 10px;
    margin-left: 10px;
}
form input::placeholder{
    color: rgb(244, 247, 250);
}

form input:focus {
    border: none;
    background-color: transparent !important;
    box-shadow: none !important;
}
.container{

    background-color: teal;
    min-height: 100vh;
    border: none;
    padding: 30px;
    width: 100vw;
    margin-top: 50px;

}
.app{
    margin-top: 0;
}
.img-fluid{
    width: 10vw;
    height: 10vw;
}
.App .foodForm{
    margin-bottom: 60px;
}